* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 50px;
}

header img {
  width: 120px;
}

header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul li {
  padding-right: 15px;
}

header ul li a {
  text-decoration: none;
  color: #000;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px;
}

section h1 {
  font-size: 2.3rem;
  padding: 10px 0;
  text-align: center;
}

section .content .getStarted {
  margin: 10px;
}

section .content .getStarted > * {
  margin: 10px 0;
}

section .content .getStarted input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #595959;
  outline: none;
}

section .content .getStarted input::-webkit-input-placeholder {
  opacity: 0.6;
}

section .content .getStarted input:-ms-input-placeholder {
  opacity: 0.6;
}

section .content .getStarted input::-ms-input-placeholder {
  opacity: 0.6;
}

section .content .getStarted input::placeholder {
  opacity: 0.6;
}

section .content .getStarted button {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid transparent;
  font-weight: bold;
  border-radius: 5px;
  color: #fff;
  background-color: #3e52a3;
  cursor: pointer;
}

section:nth-child(3) .content p {
  margin: 25px 0;
}

section:nth-child(3) .content a {
  color: #3065f8;
}

section:nth-child(3) .content a:hover {
  color: #3c9f8f;
}

section:nth-child(3) .content .card {
  border-radius: 5px;
  margin: 25px 0;
  font-size: 14px;
  -webkit-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.08);
  padding: 20px;
}

section:nth-child(3) .content .card p {
  margin: 0;
  padding: 15px 0;
}

section:nth-child(3) .content .card .card-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section:nth-child(3) .content .card .card-profile img {
  width: 40px;
  border-radius: 50%;
}

section:nth-child(3) .content .card .card-profile ul {
  padding-left: 10px;
}

section:nth-child(3) .content .card .card-profile ul li {
  list-style: none;
}

section:nth-child(3) .content .card .card-profile ul li:first-child {
  font-weight: bold;
}

section.lastOne {
  color: #fff;
  padding: 50px 20px;
  margin: 0;
  background-color: #585989;
}

footer {
  color: #fff;
  background-color: #070439;
  padding: 25px;
}

footer ul {
  list-style: none;
  padding: 15px;
}

footer .f3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .f3 img {
  margin: 5px;
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 50%;
}

@media only screen and (min-width: 750px) {
  section {
    margin: 50px 0 200px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  section:nth-child(2) .content .getStarted {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
    grid-template-columns: 60% 40%;
  }
  section:nth-child(2) .content .getStarted button {
    margin-left: 10px;
  }
  section:nth-child(3) .card {
    width: 50%;
  }
  footer .grid {
    opacity: 0.7;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
  footer .grid ul {
    margin-left: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  section.lastOne .words {
    padding: 0 100px 0 50px;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  section.lastOne .words h1 {
    text-align: left;
  }
  section.lastOne .getStarted {
    margin: 0;
    padding: 80px;
  }
  section.lastOne .getStarted button {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

@media only screen and (max-width: 650px) {
  header {
    padding: 15px 25px;
  }
  header img {
    width: 80px;
  }
  section h1 {
    font-size: 2rem;
  }
  section.lastOne h1 {
    font-size: 1.5rem;
  }
}

.attribution {
  margin: 15px 0;
  font-size: 13px;
  text-align: center;
}

.attribution a {
  color: #3065f8;
}